header {
  
  
  background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.1) 35px, rgba(255,255,255,.1) 70px);
}

footer {
  
  background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.1) 35px, rgba(255,255,255,.1) 70px);
  
}

body {
  background: linear-gradient(90deg, rgba(193,16,118,1) 0%, rgba(236,28,36,1) 100%);
}