<nz-table #basicTable [nzData]="listOfData"  [nzShowPagination]="false">
    <thead>
      <tr>
        <th>Book ID</th>
        <th>Author</th>
        <th>Title</th>
        <th>Description</th>
        <th>From Date</th>
        <th>To Date</th>
        <th>Rental Status</th>
      </tr>
    </thead>
    <tbody *ngIf="deleteBook">
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.book.id }}</td>
        <td *ngFor="let author of data.book.authors">{{ author.name }}</td> 
        <td>{{ data.book.title }}</td>
        <td>{{ data.book.description }}</td>
        <td>{{ fromDate }}</td>
        <td>{{ toDate }}</td>
        <td>
            <button *ngIf="!data.cancelRental" nz-button nzType="danger" (click)="unRentBook(data.book.id)">Cancel 一 {{ data.book.title }}</button>
          </td>
      </tr>
    </tbody>
  </nz-table>


  <Li *ngFor="let b of listOfData">
    {{b.book.title}}
  </Li>