<div class="tc di h3">
  <div class="h-auto fl b pt2 pl2 bookRentalMenu grow">
    <fa-icon
      [icon]="faBook"
      class="fl h-auto pl2 pr3 bookIcon"
      size="lg"
    ></fa-icon>
    <a routerLink="/books-rental-page">Book Rental App</a>
  </div>

  <ul nz-menu nzMode="horizontal" class="h-auto">
    <li nz-menu-item nzMatchRouter class="h-auto">
      <a routerLink="/books-rental-page">Book Rental</a>
    </li>

    <li nz-menu-item nzMatchRouter class="h-auto">
      <a routerLink="/rented-books-page">Rented Books</a>
    </li>
    <li nz-menu-item nzMatchRouter class="h-auto">
      <a routerLink="/book-rental-admin-page">Admin Page</a>
    </li>

    <nz-input-group [nzSuffix]="suffixIconSearch" class="h-auto pt2 pb2">
      <input id="search-box" type="text" nz-input placeholder="Search book" />
    </nz-input-group>
    <ng-template #suffixIconSearch class="h-auto">
      <i nz-icon nzType="search"></i>
    </ng-template>
  </ul>
</div>
