<div class="tc white-80 pv5 pv4-l ph4">
        <h2 class="f6 ml3 pr2">
            Created by <a href="https://github.com/ignatandrei"><i nz-icon nzType="github" nzTheme="outline"></i> Andrei Ignat</a> and <a href="https://github.com/shdow"><i nz-icon nzType="github" nzTheme="outline"></i> Bogdan Bobe</a>
            <br />
            Check out this project on <a href="https://github.com/ignatandrei/SimpleBookRental">GitHub <i nz-icon nzType="github" nzTheme="outline"></i></a>
            <br />
            Latest commit was made {{dateCommit}} by {{infos.lastAuthor}} at {{hourCommit}} with the message: {{infos.latestCommit}}
        </h2>
    </div>